doctype transitional
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")

        style(type='text/css').
            body{margin:0; padding:0;}
            img{border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}

            table {
                border-collapse: collapse !important;
            }

            body, #bodyTable, #bodyCell {
                height: 100% !important;
                margin: 0;
                padding: 0;
                width: 100% !important;
            }

            #bodyCell {
                padding: 20px;
            }

            #templateContainer {
                width: 600px;
            }

body(width="600", leftmargin="0", marginwidth="0", topmargin="0", marginheight="0", offset="0")
    center
        table(border="0", cellpadding="5", cellspacing="0", height="100%", width="100%", id="bodyTable")
            each val in trovit
                tr
                    td(align="left", valign="top")
                        a(href=val.href)= val.text



